<div style="margin: 60px 100px;">
  <div class="jumbotron jumbotron-fluid">
    <div style="border: solid 1px gray" class="container">

      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="container">
          <div style="margin: 10px" class="row">
            <h3 class="col-md-3">Login</h3>
          </div>
          <div style="margin: 10px" class="row">
            <div style="text-align: right" class="col-md-4">
              <label  for="user">Username :</label>
            </div>
            <div class="col-md-4">
              <input  type="text"  placeholder="username" id="user" formControlName="username">
            </div>
          </div>
          <div style="margin: 10px" class="row">
            <div style="text-align: right" class="col-md-4">
              <label  for="pwd">Password :</label>
            </div>
            <div class="col-md-4">
              <input type="password" id="pwd" placeholder="password" formControlName="password">
            </div>
          </div>
          <div style="margin: 10px" class="row">
            <button  class="offset-md-7 btn btn-primary" type="submit">Login</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

